body * {
  box-sizing: border-box;
  width: 22vh;
  height: 22vh;
  border: 1px solid black;
  flex-grow: 1;
  margin: 0;

} 

body {
  margin: 0;
  display: flex;
  width: 100vh;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
 
}

html {
  display: flex;
  justify-content: center;
}
button {
  padding-top: 3vh;
  font-size: 40px;
  width: 88vh;
  height: 12vh;
}
